[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
hypothesis = "*"
hypothesis-pytest = "*"
pycodestyle = "*"
pydocstyle = "*"
codecov = "*"
twine = "*"
ipython = "*"

[packages]
tox = "*"
experta = {editable = true,path = "."}

[requires]
python_version = "3.7"
